[nN]bproject
[lL]ibrary
[tT]est
[cC]lasses
[dD]ist
[bB]uild

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.xml
*.properties
*.txt
*.csv
*.mf

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
